
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            caret-color: transparent;
    }
        @font-face {
            font-family: "F1 Bold";
            src: url('Fonts/Formula1-Bold.ttf') format('truetype');
        }
        @font-face {
            font-family: "F1 SemiBold";
            src: url('Fonts/Formula1-Display-SemiBold.ttf') format('truetype');
        }
        @font-face {
            font-family: "F1 Regular";
            src: url('Fonts/Formula1-Regular1.ttf') format('truetype');
        }
        @font-face {
            font-family: "F1 Wide";
            src: url('Fonts/Formula1-Wide.ttf') format('truetype');
        }
        
        header {
            background-color: #2c2c356e;
            border-radius: 30px;
            color: #15151E;
            text-align: center;
            font-size: 25px;
            font-family: 'F1 Bold';
            box-shadow: 0 10px 10px rgba(0,0,0,0.6);
            margin-bottom: 50px;
            min-height: 270px;
            position: relative;
        }
            header img {
                margin-top: 70px;
                scale : 130%;
            }

            header p {
                margin-top: 5px;
                margin-bottom: 0;
                font-size: 38px;
                letter-spacing: 2px;
                font-weight: 200px;
            }
        body {
            background: repeating-linear-gradient(170deg, #E10600, #2C2C35, #15151E 2000px);
            background-repeat: repeat;
            color: #ffffff;
            flex-direction: column;
            padding: 40px;
            margin: 0px;
            min-height: 100vh;
        }
        .navMobile
        {
            display: none;
        }
        .container {
            flex: 1;
            display: flex;
            gap: 100px;
            max-width: 1700px;
            margin: 0 auto;
            min-height: 30px;
        }
        .standingsButton {
            padding: 6px 10px;
            background-color: transparent;
            cursor: pointer;
            border-radius: 10px;
            margin-top: 5px;
            margin-bottom: 0;
            font-size: 38px;
            letter-spacing: 2px;
            font-weight: 200px;
            color: #15151E;
            transition-duration: 0.4s;
            position: absolute;
            top: 190px;
            left: 50%;
            transform: translateX(-50%);
        }
        .standingsButton:hover{
            color: #ccc;
            background-color: #15151e50;
              cursor: pointer;
        }
        .calendarButton {
            padding: 6px 10px;
            border-radius: 10px;
            background-color: transparent;
            cursor: pointer;
            margin-top: 5px;
            margin-bottom: 0;
            font-size: 28px;
            letter-spacing: 1px;
            font-weight: 200px;
            color: #15151E;
            transition-duration: 0.4s;
            top: 190px;
            left: 20%;
            transform: translateX(-20%);
            position: absolute;
        }
        .calendarButton:hover{
            color: #ccc;
            background-color: #15151e50;
        }

        .driversButton {
            padding: 6px 10px;
            border-radius: 10px;
            background-color: transparent;
            cursor: pointer;
            margin-top: 5px;
            margin-bottom: 0;
            font-size: 28px;
            letter-spacing: 1px;
            font-weight: 200px;
            color: #15151E;
            transition-duration: 0.4s;
            position: absolute;
            top: 190px;
            left: 80%;
            transform: translateX(-70%);
        }
        .driversButton:hover{
            color: #ccc;
            background-color: #15151e50;
        }
        .container{
            flex: 1;
            display: flex;
            gap: 100px;
            max-width: 1700px;
            margin: 0 auto;
            margin-top: 60px;
            min-height: 30px;
        }

        .panel{
            flex: 1;
            height: 2500px;
            background-color: #1E1E26;
            border-radius: 8px;
            padding: 25px;
            min-width: 0;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        }
        .season{
            flex: 1;
            min-width: 0;
        }

        .season h2{
            text-align: center;
            font-family: 'F1 Wide';
            text-wrap: nowrap;
            font-size: 30px;
            border-bottom: 2px solid rgba(255,255,255,0.2);;
        }

        .season2h2{
            text-align: center;
            font-family: 'F1 Wide';
            text-wrap: nowrap;
            font-size: 30px;
            border-bottom: 2px solid rgba(255,255,255,0.2);;
        }
        .season p{
            position: relative;
            font-family: 'F1 Regular';
            color:#cfcfcf;
            top: 10px;
            font-size: 17px;
            line-height: 1.5;
        }
        .season img{
            position: absolute;
            overflow: hidden;
            width: 500px;
            height: 300px;
        }
        .season span{
            position:absolute;
            font-family: 'F1 Bold';
            text-wrap: nowrap;
            font-size: 18px;
        }
        .menu-button {
            display: none;
            padding: 6px 10px;
            background: transparent;
            border: none;
            border-radius: 10px;
            font-size: 32px;
            cursor: pointer;
            color: #15151E;
            position: absolute;
            top: 60%;
            left: 10%;
            transform: translateX(-50%);
            font-family: 'F1 Bold';
            background-color: #15151e44;
            text-decoration: underline #15151e44;
            
        }
        .menu-button:hover{
            color: #ccc;
            background-color: #15151e50;
            text-decoration: underline #ccc;
        }
        .navMobileContainer{
            display: none;
        }

        .currentPage{
            font-size: 25px;
            top: 55%;
            left: 50%;
            color: #ccc;
            transform: translateX(-50%);
            text-align: center;
            letter-spacing: 1px;
            position: absolute;
        }
        
        @media (max-width: 1300px) {
            .currentPage{
                display: inherit;
                color: #ccc;
                font-family: "F1 Regular";
                 top: 80%;
                left: 50%;
            }
            .container{
                gap:20px
            }
            .navMobileContainer.active{
                
                display: flex;
                flex-direction: column;   
                align-items: center;      
                gap: 20px;                
                padding: 20px 0;
            }
            .navMobileRow{
                background: #15151e50;
                font-family: "F1 Regular";
                border-radius: 10px;
                transition: ease-out 0.3s;
                padding: 15px;
                margin-bottom: 20px;         
                margin-top: 10px;
                border-bottom: 2px solid #15151E;
            }
            .navMobileButton{
                padding: 10px;
                font-size: 20px;
                cursor: pointer;
                color:#E10600;
                font-family: inherit;
                font-style: bold;
                background-color:#131327;
                border: none;
                border-radius: 3px;
            }
            .navMobileButton:hover{
                color: #ccc;
                
            }
            .nav {
                display: none;
                position: absolute;
                top: 100%;
                right: 20px;
                flex-direction: column;
                background: #1E1E26;
                padding: 15px;
                border-radius: 10px;
                box-shadow: 0 10px 30px rgba(0,0,0,0.4);
                z-index: 100;
            }

            .nav.active {
                display: flex;
            }

            .menu-button {
                display: inherit;
                color: #15151E;
                left: 50%;
            }
            body {
                background: repeating-linear-gradient(170deg, #E10600, #2C2C35, #15151E 2000px);
                background-repeat: repeat;
                color: #ffffff;
                flex-direction: column;
                padding: 40px;
                margin: 0px;
                min-height: 100vh;
            }
        }
        @media (max-width: 784px) {
            .container{
                gap:20px
            }
            .driverPanel{
                margin-top: 10px;
            }
            .currentPage{
                display: inherit;
                color: #ccc;
                font-family: "F1 Regular";
                            top: 80%;
            left: 50%;
            }
            .navMobileContainer.active{
                
                display: flex;
                flex-direction: column;   
                align-items: center;      
                gap: 20px;                
                padding: 20px 0;
            }
            .navMobileRow{
                background: #15151e50;
                font-family: "F1 Regular";
                border-radius: 10px;
                transition: ease-out 0.3s;
                padding: 15px;
                margin-bottom: 20px;         
    
                border-bottom: 2px solid #15151E;
            }
            .navMobileButton{
                padding: 10px;
                font-size: 20px;
                cursor: pointer;
                color:#E10600;
                font-family: inherit;
                font-style: bold;
                background-color:#131327;
                border: none;
                border-radius: 3px;
            }
            .navMobileButton:hover{
                color: #ccc;
                
            }
            .nav {
                display: none;
                position: absolute;
                top: 100%;
                right: 20px;
                flex-direction: column;
                background: #1E1E26;
                padding: 15px;
                border-radius: 10px;
                box-shadow: 0 10px 30px rgba(0,0,0,0.4);
                z-index: 100;
            }

            .nav.active {
                display: flex;
            }

            .menu-button {
                display: inherit;
                color: #15151E;
                left: 50%;
            }
            body {
                background: repeating-linear-gradient(170deg, #E10600, #2C2C35, #15151E 2000px);
                background-repeat: repeat;
                color: #ffffff;
                flex-direction: column;
                padding: 10px;
                margin: 0px;
                min-height: 100vh;
            }
        }
        @media (max-width: 738px) {
            .container {
                flex-direction: column;
            }
                    .season{
            flex: 1;
            min-width: 0;
        }

        .season h2{
            text-align: center;
            font-family: 'F1 Wide';
            text-wrap: nowrap;
            font-size: 27px;
            border-bottom: 2px solid rgba(255,255,255,0.2);;
        }
        .season2h2{
            text-align: center;
            font-family: 'F1 Wide';
            text-wrap: nowrap;
            font-size: 27px;
            margin-top: -300px;
            border-bottom: 2px solid rgba(255,255,255,0.2);;
        }

        .season img{
            display: none;
        }
        .season span{
            display: none;
        }
            .currentPage{
                display: inherit;
                color: #ccc;
                font-family: "F1 Regular";
                top: 80%;
                left: 50%;
                font-size: 18px;
            }
            
            .navMobileContainer.active{
                
                display: flex;
                flex-direction: column;   
                align-items: center;      
                gap: 20px;                
                padding: 20px 0;
            }
            .navMobileRow{
                background: #15151e50;
                font-family: "F1 Regular";
                border-radius: 10px;
                transition: ease-out 0.3s;
                padding: 15px;
                margin-bottom: 20px;         
    
                border-bottom: 2px solid #15151E;
            }
            .navMobileButton{
                padding: 10px;
                font-size: 15px;
                cursor: pointer;
                color:#E10600;
                font-family: inherit;
                font-style: bold;
                background-color:#131327;
                border: none;
                border-radius: 3px;
                margin-top: 10px;
            }
            .navMobileButton:hover{
                color: #ccc;
                
            }
            body {
                background: repeating-linear-gradient(170deg, #E10600, #222266, #131327 2000px);
                background-repeat: repeat;
                color: #ffffff;
                flex-direction: column;
                padding: 10px;
                margin: 0px;
                min-height: 100vh;
            }
            .header {
            background-color: #2c2c356e;
            border-radius: 30px;
            color: #15151E;
            text-align: center;
            font-size: 25px;
            font-family: 'F1 Bold';
            box-shadow: 0 10px 10px rgba(0,0,0,0.6);
            margin-bottom: 50px;
            min-height: 270px;
            position: relative;
            } 
            .header-img{
                scale: 80%;
                position: absolute;
                align-self: center;
                left: 37%;
                transform: translateX(-50%);
            }
            .nav {
                display: none;
                position: absolute;
                top: 100%;
                right: 20px;
                flex-direction: column;
                background: #1E1E26;
                padding: 15px;
                border-radius: 10px;
                box-shadow: 0 10px 30px rgba(0,0,0,0.4);
                z-index: 100;
            }
            .nav.active {
                display: flex;
            }

            .menu-button {
                display: inherit;
                color: #15151E;
                left: 50%;
            }
        }
        footer{
            background-color: #1e1e26a9;
            color: #42424e;
            text-align: center;
            bottom:0;
            margin-top: 170px;
            gap: 10px;
            margin-bottom: -40px;
            margin-left: -40px;
            margin-right: -40px;
            padding: 10px;
            row-gap: 10px;

        }
