        .navMobile
        {
            display: none;
        }
        .container {
            flex: 1;
            display: flex;
            gap: 100px;
            max-width: 1700px;
            margin: 0 auto;
            min-height: 30px;
        }
        .container{
            flex: 1;
            display: flex;
            gap: 20px;
            max-width: 1700px;
            margin: 0 auto;
            margin-top: 60px;
            min-height: 30px;
        }
        .champsPanel{
            flex: 1;
        }
        .datasPanel{
            gap: 50%;
            background-color: #1E1E26;
            border-radius: 8px;
            padding: 25px;
            min-width: 0;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            margin-top: 20px;
        }
        
        .table{
            border-radius: 6px;
            background-color: #42424e;
            margin-top: 17px;
            min-height: 200px;
            flex: 1;
            width: 50%;
            border: rgb(104, 0, 0) 2px solid;
        }
        .table-title{
            font-family: 'F1 Bold';
            grid-template-columns: 11% 30% 50% 100px; 
            font-size: 15px;
            padding: 10px;
            display: grid;
            border-bottom: 1px solid #c2c2c2;
        }
        .tableTeam-row{
            font-family: 'F1 Regular';
            grid-template-columns: 11% 75% 100px; 
            font-size: 18px;
            padding: 10px;
            display: grid;
            border-bottom: 1px solid #c2c2c2;
        }
        .table-text{
            display: grid;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .tablesContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}
        .table-row{
            font-family: 'F1 Regular';
            grid-template-columns: 11% 30% 50% 100px; 
            font-size: 18px;
            padding: 10px;
            display: grid;
            border-bottom: 1px solid #c2c2c2;
        }
        .datasPanel span{
            font-family: 'F1 Bold';
            text-align: center;
            font-size: 18px;
        }
        .datasPanel select{
            position: absolute;
            font-size: 18px;
            left: 85%;
            background-color: #d3d3d3;
            border-radius: 4px;
            border: none;
        }

        .panel{
            flex: 1;
            height: 2500px;
            background-color: #1E1E26;
            border-radius: 8px;
            padding: 25px;
            min-width: 0;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            margin-top: 20px;
        }
        .season{
            flex: 1;
            min-width: 0;
        }

        .season h2{
            text-align: center;
            font-family: 'F1 Wide';
            text-wrap: nowrap;
            font-size: 30px;
            border-bottom: 2px solid rgba(255,255,255,0.2);;
        }

        .season2h2{
            text-align: center;
            font-family: 'F1 Wide';
            text-wrap: nowrap;
            font-size: 30px;
            border-bottom: 2px solid rgba(255,255,255,0.2);;
        }
        .season p{
            position: relative;
            font-family: 'F1 Regular';
            color:#cfcfcf;
            top: 10px;
            font-size: 17px;
            line-height: 1.5;
        }
        .season img{
            position: absolute;
            overflow: hidden;
            width: 500px;
            height: 300px;
        }
        .season span{
            position:absolute;
            font-family: 'F1 Bold';
            text-wrap: nowrap;
            font-size: 18px;
        }

        @media (max-width: 1300px) {
            .currentPage{
                display: inherit;
                color: #ccc;
                font-family: "F1 Regular";
                 top: 80%;
                left: 50%;
            }
            .champsPanel{
                display: none;
            }
                        .container {
                margin-top: 0px;
                flex-direction: column;
            }
            
            body {
                background: repeating-linear-gradient(170deg, #E10600, #2C2C35, #15151E 2000px);
                background-repeat: repeat;
                color: #ffffff;
                flex-direction: column;
                padding: 40px;
                margin: 0px;
                min-height: 100vh;
            }
        }
        @media (max-width: 784px) {
                        .container {
                margin-top: 0px;
                flex-direction: column;
            }
            .champsPanel{
                display: none;
            }
            .driverPanel{
                margin-top: 10px;
            }
            .currentPage{
                display: inherit;
                color: #ccc;
                font-family: "F1 Regular";
                            top: 80%;
            left: 50%;
            }
            
            body {
                background: repeating-linear-gradient(170deg, #E10600, #2C2C35, #15151E 2000px);
                background-repeat: repeat;
                color: #ffffff;
                flex-direction: column;
                padding: 10px;
                margin: 0px;
                min-height: 100vh;
            }
        }
        @media (max-width: 738px) {
            .container {
                margin-top: 0px;
                flex-direction: column;
            }
                    .season{
            flex: 1;
            min-width: 0;
        }
        .champsPanel{
                display: none;
            }
        .datasPanel{
            gap: 7%;
        }
        .season h2{
            text-align: center;
            font-family: 'F1 Wide';
            text-wrap: nowrap;
            font-size: 27px;
            border-bottom: 2px solid rgba(255,255,255,0.2);;
        }
        .season2h2{
            text-align: center;
            font-family: 'F1 Wide';
            text-wrap: nowrap;
            font-size: 27px;
            margin-top: -300px;
            border-bottom: 2px solid rgba(255,255,255,0.2);;
        }
        
        .season img{
            display: none;
        }
        .season span{
            display: none;
        }
            .currentPage{
                display: inherit;
                color: #ccc;
                font-family: "F1 Regular";
                top: 80%;
                left: 50%;
                font-size: 18px;
            }
            
            
            body {
                background: repeating-linear-gradient(170deg, #E10600, #222266, #131327 2000px);
                background-repeat: repeat;
                color: #ffffff;
                flex-direction: column;
                padding: 10px;
                margin: 0px;
                min-height: 100vh;
            }
            .header {
            background-color: #2c2c356e;
            border-radius: 30px;
            color: #15151E;
            text-align: center;
            font-size: 25px;
            font-family: 'F1 Bold';
            box-shadow: 0 10px 10px rgba(0,0,0,0.6);
            margin-bottom: 50px;
            min-height: 270px;
            position: relative;
            } 
            .header-img{
                scale: 80%;
                position: absolute;
                align-self: center;
                left: 37%;
                transform: translateX(-50%);
            }
            
        }
