        .currentPage{
            margin-top: 5px;
            margin-bottom: 0;
            font-size: 38px;
            letter-spacing: 2px;
        }

        .container {
            flex: 1;
            gap: 100px;
            margin: 0 auto;
            max-width: 1700px;
            margin-top: 60px;
            min-height: 30px;
            display: flex;
        }
        .teamPanel{
            background: #1E1E26;
            border-radius: 8px;
            padding: 25px;
            min-width: 0;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(2px);
            height: 1200px;
            width: 100%;
        }
        .teamName{
            text-align: center;
            font-family: 'F1 Wide';
            font-weight: bold;
            color: #ebebeb;
            font-size: 35px;
            letter-spacing: 1px;
            margin-top: 10px;
            padding-top: 10px;

            border-radius: 10px;
        }
        .teamBG{
            position: absolute;
            top: 115px;
            width: 330px;
            height: 330px;
            left : 50%;
            align-self: center;
            transform: translateX(-50%);
            border-radius: 10px;
        }
        .teamLogo{
            position: absolute;
            top: 130px;
            width: 300px;
            height: 300px;
            left : 50%;
            align-self: center;
            transform: translateX(-50%);
        }
        .teamCupContainter{
            position: absolute;
            top: 480px;
            left : 50%;
            align-self: center;
            transform: translateX(-50%);
            background-color: #717175;
            color: #ebebeb;
            font-family: 'F1 Bold';
            font-size: xx-large;
            border-radius: 8px;
            width: 400px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
        .teamCupContainter img {
            height: 100%;
            object-fit: contain;
            flex-shrink: 1;
        }

        .teamSeasonsPanel{
            font-family: 'F1 Bold';
            position: absolute;
            top: 115px;
            left : 3%;
            align-self: center;
            background-color: #454553;
            border-radius: 8px;
            width: 550px;
            height: 550px;
            display: flex-start;
            justify-content: center;
            gap: 20px;
            flex-direction: column;
        }
        .teamSeasonsPanel h2{
            color: #000000;
            margin: 20px;
            font-size: 30px;
        }.teamSeasonsPanel p{
            font-size: 20px;
            color: #ffffff;
            margin-left: 30px;
        }
        .teamStatsPanel{
            font-family: 'F1 Bold';
            position: absolute;
            top: 115px;
            right : 3%;
            align-self: center;
            background-color: #454553;
            border-radius: 8px;
            width: 550px;
            height: 550px;
            display: flex-start;
            justify-content: center;
            gap: 20px;
            flex-direction: column;
        }
        .teamStatsPanel h2{
            color: #000000;
            margin: 20px;
            font-size: 25px;
        }
        .teamStatsPanel p{
            font-size: 20px;
            color: #ffffff;
            margin-left: 30px;
        }

        .teamImages{
            position: absolute;
            top: 700px;
            left : 50%;
            align-self: center;
            transform: translateX(-50%);
            width: 95%;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
        
        .teamImages img{
            width: 480px;
            height: 270px;
            border-radius: 10px;
            display: none;
        }

        .teamImages img:hover{
            cursor: pointer;
        }

        @media (max-width: 1300px) {
            .currentPage{
                display: inherit;
                color: #ccc;
                font-family: "F1 Regular";
            }
            .container{
                gap:20px
            }
            .navMobileContainer.active{
                
                display: flex;
                flex-direction: column;   
                align-items: center;      
                gap: 20px;                
                padding: 20px 0;
            }
            .navMobileRow{
                background: #15151e50;
                font-family: "F1 Regular";
                border-radius: 10px;
                transition: ease-out 0.3s;
                padding: 15px;
                margin-bottom: 20px;         
    
                border-bottom: 2px solid #15151E;
            }
            .navMobileButton{
                padding: 10px;
                font-size: 20px;
                cursor: pointer;
                color:#E10600;
                font-family: inherit;
                font-style: bold;
                background-color:#131327;
                border: none;
                border-radius: 3px;
            }
            .navMobileButton:hover{
                color: #ccc;
                
            }
            .nav {
                display: none;
                position: absolute;
                top: 100%;
                right: 20px;
                flex-direction: column;
                background: #1E1E26;
                padding: 15px;
                border-radius: 10px;
                box-shadow: 0 10px 30px rgba(0,0,0,0.4);
                z-index: 100;
            }

            .nav.active {
                display: flex;
            }

            .menu-button {
                display: inherit;
                color: #15151E;
                left: 50%;
            }
            body {
                background: repeating-linear-gradient(170deg, #E10600, #2C2C35, #15151E 2000px);
                background-repeat: repeat;
                color: #ffffff;
                flex-direction: column;
                padding: 40px;
                margin: 0px;
                min-height: 100vh;
            }
        }
        @media (max-width: 784px) {
            .container{
                gap:20px
            }
            .driverPanel{
                margin-top: 10px;
            }
            .currentPage{
                display: inherit;
                color: #ccc;
                font-family: "F1 Regular";
            }
            .navMobileContainer.active{
                
                display: flex;
                flex-direction: column;   
                align-items: center;      
                gap: 20px;                
                padding: 20px 0;
            }
            .navMobileRow{
                background: #15151e50;
                font-family: "F1 Regular";
                border-radius: 10px;
                transition: ease-out 0.3s;
                padding: 15px;
                margin-bottom: 20px;         
    
                border-bottom: 2px solid #15151E;
            }
            .navMobileButton{
                padding: 10px;
                font-size: 20px;
                cursor: pointer;
                color:#E10600;
                font-family: inherit;
                font-style: bold;
                background-color:#131327;
                border: none;
                border-radius: 3px;
            }
            .navMobileButton:hover{
                color: #ccc;
                
            }
            .nav {
                display: none;
                position: absolute;
                top: 100%;
                right: 20px;
                flex-direction: column;
                background: #1E1E26;
                padding: 15px;
                border-radius: 10px;
                box-shadow: 0 10px 30px rgba(0,0,0,0.4);
                z-index: 100;
            }

            .nav.active {
                display: flex;
            }

            .menu-button {
                display: inherit;
                color: #15151E;
                left: 50%;
            }
            body {
                background: repeating-linear-gradient(170deg, #E10600, #2C2C35, #15151E 2000px);
                background-repeat: repeat;
                color: #ffffff;
                flex-direction: column;
                padding: 10px;
                margin: 0px;
                min-height: 100vh;
            }
        }
        @media (max-width: 738px) {
            .currentPage{
                position: absolute;    
                left: 50%;
                transform: translateX(-50%);
                font-size: 20px;
                top:83%;
            }
            .container {
                flex-direction: column;
            }
            .teamPanel{
                flex: none;
                background: #1E1E26;
                border-radius: 8px;
                padding-left: -10px;
                min-width: 0;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
                backdrop-filter: blur(2px);
                height: 2500px;
            }
            .teamName{
                font-size: 23px;
            }
            .teamSeasonsPanel{
                top: 1296px;
                left: 9px;
                width: 95%;
                height: 560px;
            }.teamStatsPanel{
                top: 725px;
                left: 9px;
                width: 95%;
                height: 550px;
            }
            .teamBG{
                top: 175px;
            }
            .teamLogo{
                top: 190px;
            }
            .teamCupContainter{
                transform: scale(0.8);
                left: -30px;
                top: 540px;
            }
            .teamImages{
                top: 2000px;
                left: 8px;
                transform: scale(0.68);
                display: flex;
                gap: 36px;
                flex-direction: column;
            }     
            
}